<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Представление для вьюхи Show</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
   <h1><%= @hello %></h1>
</body>
</html>
